
header {
    font-size: 80px;
    
}
body {
    background-color: aquamarine;
    display: grid;
    grid-template-rows: 200px auto;
    place-items: center;
    
}
button {
    margin-left: 1em;
    margin-top: 1em;
    background-color: whitesmoke;
    border: steelblue 0.5px solid;
}

.input {
    padding: 1em;
}

.menuItem {
    border: #3333 0.5px solid;
    background-color: lightblue;
}

::placeholder {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.input {
    /* display: flex;
    justify-content: space-between;
    align-items: baseline; */
    /* flex-shrink: 1; */
}

.login{
    display: inline;
}
#menu {
    display: flex;
    flex-direction: column-reverse;
    /* align-content: flex-start; */
     padding: 10px;
    /* grid-gap: 1em;  */
    place-items: center;
    background-color: azure;
    border: #eee 1px solid;
}

